#navigation{
    background-color: black;
}
.nav-link{
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
}

#mainheader{
    color:#000;
    background-image: url(image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-bottom: 10%;
}

#work-pic{
    height: 100%;
    width: 100%;
}

#working{
    color: #fff;
    padding-top: 20%;
    padding-bottom: 10%;
}

